@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

body {
    color: #797979;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a:hover {
    text-decoration: none
}

button {
    cursor: pointer
}

button:focus {
    outline: 0;
    box-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #242424;
    line-height: 1.5
}

h1,
.h1 {
    font-size: 60px;
    font-weight: 700
}

h2,
.h2 {
    font-size: 24px;
    font-weight: 600
}

h3,
.h3 {
    font-size: 20px;
    font-weight: 500
}

h4,
.h4 {
    font-size: 18px
}

h5 {
    font-family: "Oswald", sans-serif;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin: 0
}

.primary-text {
    color: #002ccc
}

.primary-text2 {
    color: #4a2eff
}

.primary-bg {
    background-color: #002ccc
}

.speaker-bg {
    background: -moz-linear-gradient(136deg, #597cfbc2 0%, #002cccc9 50%, #3b7fccbe 100%), url(../images/banner.jpg) no-repeat;
    background: -webkit-linear-gradient(136deg, #597cfbc2 0%, #002cccc9 50%, #3b7fccbe 100%), url(../images/banner.jpg) no-repeat;
    background: -ms-linear-gradient(136deg, #597cfbc2 0%, #002cccc9 50%, #3b7fccbe 100%), url(../images/banner.jpg) no-repeat;
    background-size: cover
}


.bg-gray {
    background: #f7f7f7
}

.section-padding--small {
    padding: 50px 0
}

@media (min-width: 992px) {
    .section-padding--small {
        padding: 100px 0
    }
}

.section-margin {
    margin: 60px 0
}

.section-padding {
    padding: 70px 0
}

@media (min-width: 992px) {
    .section-padding {
        padding: 157px 0
    }
}

.section-padding--large {
    padding: 70px 0
}

@media (min-width: 992px) {
    .section-padding--large {
        padding: 130px 0
    }
}

.mb-50px {
    margin-bottom: 50px
}

.tab-pane.active {
    animation: slide-down .5s ease-out
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(50px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.header_area {
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear
}

.header_area .navbar-right {
    min-width: 200px;
    text-align: right
}

@media (max-width: 991px) {
    .header_area .navbar-right {
        margin: 20px 0
    }
}

.header_area .navbar-brand {
    margin-right: 30px;
    padding: 0
}

.header_area .navbar-social {
    min-width: 95px;
    float: right
}

.header_area .navbar-social li {
    margin-right: 12px
}

.header_area .navbar-social li i,
.header_area .navbar-social li span {
    font-size: 13px;
    color: #242429
}

.header_area .navbar-social li:last-child {
    margin-right: 0
}

.header_area .navbar-social li a:hover i,
.header_area .navbar-social li span {
    color: #002ccc
}

.header_area .menu_nav {
    width: 100%
}

.header_area .navbar {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0
}

.header_area .navbar .nav-right {
    min-width: 130px
}

.header_area .navbar .nav-right a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: #002ccc
}

.header_area .navbar .nav .nav-item {
    margin-right: 38px
}

.header_area .navbar .nav .nav-item .nav-link {
    font-family: "Roboto", sans-serif;
    color: #242424;
    text-transform: capitalize;
    font-weight: 400;
    padding: 33px 0;
    display: inline-block
}

.header_area .navbar .nav .nav-item .nav-link:after {
    display: none
}

.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
    color: #4a2eff;
    opacity: 1
}

.header_area .navbar .nav .nav-item.submenu {
    position: relative
}

.header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute;
        top: 120%;
        left: 0px;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        transition: all 300ms ease-in;
        visibility: hidden;
        display: block;
        border: none;
        padding: 0px;
        border-radius: 0px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4)
    }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    transition: all 0.4s linear
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    color: #002ccc !important;
    padding: 0px 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px;
    font-size: 15px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background-color: #002ccc;
    color: #fff !important
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
        visibility: visible;
        opacity: 1;
        top: 100%
    }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px
}

.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px
}

.header_area .navbar .search {
    font-size: 12px;
    line-height: 60px;
    display: inline-block;
    margin-left: 80px
}

.header_area .navbar .search i {
    font-weight: 600
}

.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1)
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 20px
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item:hover .nav-link,
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item.active .nav-link {
    color: #002ccc
}

@media (min-width: 992px) {
    .header_area.white_menu .navbar .navbar-brand img {
        display: none
    }

    .header_area.white_menu .navbar .navbar-brand img+img {
        display: inline-block
    }
}

@media (max-width: 991px) {
    .header_area.white_menu .navbar .navbar-brand img {
        display: inline-block
    }

    .header_area.white_menu .navbar .navbar-brand img+img {
        display: none
    }
}

.header_area.white_menu .navbar .nav .nav-item .nav-link {
    color: #fff
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
    display: inline-block
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img+img {
    display: none
}

.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px
}

.top_menu {
    background: #ec9d5f
}

.top_menu .float-left a {
    line-height: 40px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.top_menu .float-left a:last-child {
    margin-right: 0px
}

.top_menu .float-right .pur_btn {
    color: #fff;
    line-height: 40px;
    display: block;
    padding: 0px 40px;
    font-weight: 500;
    font-size: 12px
}

@media (max-width: 1619px) {
    .header_area .navbar .search {
        margin-left: 40px
    }
}

@media (max-width: 1199px) {
    .header_area .navbar .nav .nav-item {
        margin-right: 28px
    }

    .home_banner_area .banner_inner {
        padding: 100px 0px
    }

    .header_area .navbar .tickets_btn {
        margin-left: 40px
    }

    .home_banner_area .banner_inner .banner_content h2 br {
        display: none;
        font-size: 36px
    }

    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 36px;
        line-height: 45px
    }
}

@media (max-width: 991px) {
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px
    }

    .header_area .navbar {
        background: #fff
    }

    .header_area .navbar .nav-item.active .nav-link {
        color: #002ccc !important
    }

    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1
    }

    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0
    }

    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px
    }

    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative
    }

    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #eb0162;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer
    }

    .navbar .container {
        padding-left: 15px;
        padding-right: 15px
    }

    .nav {
        padding: 0px 0px
    }

    .header_top .nav {
        padding: 0px
    }

    .header_area .navbar .nav .nav-item .nav-link {
        padding: 12px 0;
        margin-right: 0px;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0px
    }

    .header_area .navbar .search {
        margin-left: 0px
    }

    .header_area .navbar-collapse {
        max-height: 340px;
        overflow-y: scroll
    }

    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        padding: 0px 15px
    }

    .header_area .navbar .nav .nav-item {
        margin-right: 0px
    }

    .home_banner_area .banner_inner .banner_content .banner_map_img {
        display: none
    }

    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px
    }

    .header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px
    }

    .header_area.white_menu .navbar .nav .nav-item .nav-link {
        color: #222
    }

    .categories_post img {
        width: 100%
    }

    .categories_post {
        max-width: 360px;
        margin: 0 auto
    }

    .blog_categorie_area .col-lg-4 {
        margin-top: 30px
    }

    .blog_area {
        padding-bottom: 80px
    }

    .single-post-area .blog_right_sidebar {
        margin-top: 30px
    }

    .contact_info {
        margin-bottom: 50px
    }

    .home_banner_area .donation_inner {
        margin-bottom: -30px
    }

    .home_banner_area .dontation_item {
        max-width: 350px;
        margin: auto
    }

    .footer_area .col-sm-6 {
        margin-bottom: 30px
    }

    .footer_area .footer_inner {
        margin-bottom: -30px
    }

    .news_widget {
        padding-left: 0px
    }

    .home_banner_area .banner_inner .home_left_img {
        display: none
    }

    .header_area .navbar .tickets_btn {
        display: none
    }

    .home_banner_area .banner_inner {
        padding: 70px 0px 100px 0px
    }

    .left_side_text {
        margin-bottom: 50px
    }

    .price_item {
        max-width: 360px;
        margin: 0px auto 30px
    }

    .price_inner {
        margin-bottom: -30px
    }
}

@media (max-width: 767px) {
    .home_banner_area {
        min-height: 500px
    }

    .home_banner_area .banner_inner {
        min-height: 500px
    }

    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px
    }

    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 40px;
        line-height: 50px
    }

    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px
    }

    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px
    }

    .home_banner_area .banner_inner .banner_content p br {
        display: none
    }

    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px
    }

    .footer-bottom {
        text-align: center
    }

    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px
    }

    .made_life_inner .nav.nav-tabs li {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px
    }

    .made_life_inner .nav.nav-tabs {
        margin-bottom: -15px
    }

    .made_life_area.made_white .left_side_text {
        margin-bottom: 0px;
        margin-top: 30px
    }
}

@media (max-width: 575px) {
    .top_menu {
        display: none
    }

    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 28px;
        line-height: 38px
    }

    .home_banner_area {
        min-height: 450px
    }

    .home_banner_area .banner_inner {
        min-height: 450px
    }

    .blog_banner .banner_inner .blog_b_text {
        margin-top: 0px
    }

    .home_banner_area .banner_inner .banner_content img {
        display: none
    }

    .home_banner_area .banner_inner .banner_content h5 {
        margin-top: 0px
    }

    .p_120 {
        padding-top: 70px;
        padding-bottom: 70px
    }

    .main_title h2 {
        font-size: 25px
    }

    .sample-text-area {
        padding: 70px 0 70px 0
    }

    .generic-blockquote {
        padding: 30px 15px 30px 30px
    }

    .blog_details h2 {
        font-size: 20px;
        line-height: 30px
    }

    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 28px;
        line-height: 38px
    }

    .footer-area {
        padding: 70px 0px
    }

    .pad_top {
        padding-top: 70px
    }

    .pad_btm {
        padding-bottom: 70px
    }
}

@media (max-width: 480px) {
    .header_area .navbar-collapse {
        max-height: 250px
    }

    .home_banner_area .banner_inner .banner_content {
        padding: 30px 15px;
        margin-top: 0px
    }

    .banner_content .white_btn {
        display: block
    }

    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 24px
    }

    .banner_area .banner_inner .banner_content h2 {
        font-size: 32px
    }

    .comments-area .thumb {
        margin-right: 10px
    }

    .testi_item .media .d-flex {
        padding-right: 0px
    }

    .testi_item .media .d-flex img {
        width: auto;
        margin-bottom: 15px
    }

    .testi_item .media {
        display: block
    }

    .banner_btn {
        margin-bottom: 20px;
    }
}

.hero-banner {
    position: relative;
    padding: 100px 0;
    background: -moz-linear-gradient(136deg, #597cfbc2 0%, #002cccc9 50%, #3b7fccbe 100%), url(../images/banner.gif) no-repeat;
    background: -webkit-linear-gradient(136deg, #597cfbc2 0%, #002cccc9 50%, #3b7fccbe 100%), url(../images/banner.gif) no-repeat;
    background: -ms-linear-gradient(136deg, #597cfbc2 0%, #002cccc9 50%, #3b7fccbe 100%), url(../images/banner.gif) no-repeat;
    background-size: cover;
    background-position: 70% 50%;
}

.hero-banner-sm {
    padding-top: 80px;
    padding-bottom: 80px
}

@media (min-width: 992px) {
    .hero-banner-sm {
        padding-top: 170px;
        padding-bottom: 170px
    }
}

.hero-banner h1 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 28px
}

@media (min-width: 768px) {
    .hero-banner h1 {
        font-size: 60px;
        margin-bottom: 45px
    }
}

.hero-banner h3 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0
}

.hero-banner h5 {
    font-size: 24px;
    color: #fff;
    font-weight: 100;
}

.hero-banner h4 {
    font-size: 20px;
    color: #fff;
}

@media (min-width: 768px) {
    .hero-banner h2 {
        font-size: 42px
    }
}

.hero-banner p {
    font-size: 22px;
    color: #fff;
    margin-bottom: 0
}

.hero-banner-icon {
    color: #fff;
    display: inline-block
}

@media (min-width: 768px) {
    .hero-banner-icon {
        margin-bottom: 10px
    }
}

.hero-banner-icon i,
.hero-banner-icon span {
    font-size: 35px
}

@media (min-width: 768px) {

    .hero-banner-icon i,
    .hero-banner-icon span {
        font-size: 60px
    }
}

.hero-banner-icon [class^="flaticon-"]:before,
.hero-banner-icon [class*=" flaticon-"]:before,
.hero-banner-icon [class^="flaticon-"]:after,
.hero-banner-icon [class*=" flaticon-"]:after {
    font-size: 35px
}

@media (min-width: 768px) {

    .hero-banner-icon [class^="flaticon-"]:before,
    .hero-banner-icon [class*=" flaticon-"]:before,
    .hero-banner-icon [class^="flaticon-"]:after,
    .hero-banner-icon [class*=" flaticon-"]:after {
        font-size: 60px
    }
}

.banner-breadcrumb {
    display: inline-block
}

.banner-breadcrumb .breadcrumb {
    background: transparent;
    padding: 0
}

.banner-breadcrumb .breadcrumb-item {
    padding: .1rem
}

.banner-breadcrumb .breadcrumb-item a {
    text-transform: capitalize;
    color: #fff
}

.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    padding-left: .2rem;
    padding-right: .4rem
}

.banner-breadcrumb .breadcrumb-item.active {
    color: #fff
}

.section-intro {
    margin-right: auto;
    margin-left: auto
}

.section-intro h2 {
    font-size: 26px
}

@media (min-width: 600px) {
    .section-intro h2 {
        font-size: 36px
    }
}

.section-intro-white>* {
    color: #fff
}

.card-feature {
    text-align: center;
    padding: 10px;
    border: 1px solid #032cc0;
    border-radius: 4px;
}

.card-feature:hover {
    background: -moz-linear-gradient(136deg, #4c73ff 0%, #002ccc 50%, #306fb6 100%);
    background: -webkit-linear-gradient(136deg, #4d6ee2 0%, #032cc0 50%, #306fb6 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
}

.card-feature .feature-icon {
    width: 99px;
    height: 97px;
    line-height: 97px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background: url(../images/home/feature-icon-bg.png) left center no-repeat;
    background-size: cover;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 18px
}

@media (min-width: 991px) {
    .card-feature .feature-icon {
        margin-bottom: 25px
    }
}

.card-feature .feature-icon i,
.card-feature .feature-icon span {
    font-size: 38px;
    color: #002ccc
}

.card-feature .feature-icon [class^="flaticon-"]:before,
.card-feature .feature-icon [class*=" flaticon-"]:before {
    font-size: 38px
}

.card-feature h3 {
    font-size: 20px;
    margin-bottom: 10px
}

@media (min-width: 991px) {
    .card-feature h3 {
        margin-bottom: 20px
    }
}

.card-feature p {
    font-weight: 300
}

.card-feature:hover .feature-icon {
    background: url(../images/home/feature-icon-active-bg.png) left center no-repeat;
    background-size: cover
}

.card-feature:hover p,
.card-feature:hover h3,
.card-feature:hover .feature-icon i,
.card-feature:hover .feature-icon span {
    color: #FFF;
}


.causes_slider .owl-dots {
    text-align: center;
    margin-top: 80px
}

.causes_slider .owl-dots .owl-dot {
    height: 14px;
    width: 14px;
    background: #eeeeee;
    display: inline-block;
    margin-right: 7px
}

.causes_slider .owl-dots .owl-dot:last-child {
    margin-right: 0px
}

.causes_slider .owl-dots .owl-dot.active {
    background: #002ccc
}

.causes_item {
    background: #fff
}

.causes_item .causes_img {
    position: relative
}

.causes_item .causes_img .c_parcent {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5)
}

.causes_item .causes_img .c_parcent span {
    width: 70%;
    height: 3px;
    background: #002ccc;
    position: absolute;
    left: 0px;
    bottom: 0px
}

.causes_item .causes_img .c_parcent span:before {
    content: "75%";
    position: absolute;
    right: -10px;
    bottom: 0px;
    background: #002ccc;
    color: #fff;
    padding: 0px 5px
}

.causes_item .causes_text {
    padding: 30px 35px 40px 30px
}

.causes_item .causes_text h4 {
    color: #242424;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer
}

.causes_item .causes_text h4:hover {
    color: #002ccc
}

.causes_item .causes_text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0px
}

.causes_item .causes_bottom a {
    width: 50%;
    border: 1px solid #002ccc;
    text-align: center;
    float: left;
    line-height: 50px;
    background: #002ccc;
    color: #fff;
    font-size: 14px;
    font-weight: 500
}

.causes_item .causes_bottom a+a {
    border-color: #eeeeee;
    background: #fff;
    font-size: 14px;
    color: #242424
}

.button {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 54px;
    border-radius: 4px;
    color: #242424;
    border: 1px solid #002ccc;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

@media (max-width: 767px) {
    .button {
        font-size: 13px;
        padding: 9px 24px
    }
}

.button:hover {
    background: -moz-linear-gradient(136deg, #4c73ff 0%, #002ccc 50%, #306fb6 100%);
    background: -webkit-linear-gradient(136deg, #4d6ee2 0%, #032cc0 50%, #306fb6 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    color: #fff
}

.button-choose {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 500;
    padding: 0px;
    font-family: "Oswald", sans-serif;
    color: #000;
    padding: 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.button-choose:hover {
    color: #000
}

.button-link {
    letter-spacing: 0;
    color: #002ccc;
    border: 0;
    padding: 0
}

.button-link:hover {
    background: transparent;
    color: #002ccc
}

.button-header {
    background: -moz-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    background: -webkit-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    color: #fff;
    border: 2px solid #597cfb;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.514);
}

.button-header:hover {
    background: -moz-linear-gradient(136deg, #4c73ff 0%, #002ccc 50%, #306fb6 100%);
    background: -webkit-linear-gradient(136deg, #4d6ee2 0%, #032cc0 50%, #306fb6 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    border: 2px solid #3b7fcc;
    color: #fff
}


.button-edit {
    background: -moz-linear-gradient(136deg, #dd4242 0%, #ee0000 50%, #ff4a4a 100%);
    background: -webkit-linear-gradient(136deg, #dd4242 0%, #ee0000 50%, #ff4a4a 100%);
    background: -ms-linear-gradient(136deg, #dd4242 0%, #ee0000 50%, #ff4a4a 100%);
    color: #fff;
    border: 2px solid #ee0000;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.514);
}

.button-edit:hover {
    background: -moz-linear-gradient(136deg, #d43a3a 0%, #db0101 50%, #e74343 100%);
    background: -webkit-linear-gradient(136deg, #d43a3a 0%, #db0101 50%, #e74343 100%);
    background: -ms-linear-gradient(136deg, #d43a3a 0%, #db0101 50%, #e74343 100%);
    border: 2px solid #db0101;
    color: #fff
}

.button-contactForm {
    background: -moz-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    background: -webkit-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    border: 2px solid #597cfb;
    color: #fff;
}

.button-contactForm:hover {
    background: -moz-linear-gradient(136deg, #4c73ff 0%, #002ccc 50%, #306fb6 100%);
    background: -webkit-linear-gradient(136deg, #4d6ee2 0%, #032cc0 50%, #306fb6 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    border: 2px solid #3b7fcc;
    color: #fff
}

.footer-area {
    background: #111429;
}


.copy-right-text i,
.copy-right-text a {
    color: #002ccc
}


.footer-bottom {
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer-text a,
.footer-text i {
    color: #4a2eff
}



.scheduleTab .nav {
    border-bottom: 0;
    justify-content: center;
    margin-bottom: 40px
}

@media (min-width: 992px) {
    .scheduleTab .nav {
        margin-bottom: 80px
    }
}

.scheduleTab .nav-item {
    margin-right: 10px
}

@media (min-width: 992px) {
    .scheduleTab .nav-item {
        margin-right: 30px
    }
}

.scheduleTab .nav-item:last-child {
    margin-right: 0
}

.scheduleTab .nav-item a {
    display: block;
    padding: 8px 16px;
    background: #f7f7f7;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

@media (min-width: 992px) {
    .scheduleTab .nav-item a {
        padding: 20px 42px;
        margin-bottom: 0
    }
}

.scheduleTab .nav-item h4 {
    font-size: 20px;
    margin-bottom: 5px
}

.scheduleTab .nav-item p {
    font-size: 15px;
    color: #797979;
    margin-bottom: 0
}

.scheduleTab .nav-item a.active {
    background: -moz-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    background: -webkit-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
}

.scheduleTab .nav-item a.active>* {
    color: #fff
}

.card-identity {
    background: -moz-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    background: -webkit-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
    text-align: center;
    padding: 35px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.card-identity>* {
    color: #fff
}

.card-identity img {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px
}

.card-identity h3 {
    margin-bottom: 5px
}

.schedule-content {
    padding: 10px
}

@media (min-width: 768px) {
    .schedule-content {
        padding: 5px 40px 5px 40px
    }
}

.schedule-content .schedule-date {
    font-size: 14px
}

.schedule-content .schedule-title {
    display: inline-block;
    margin-bottom: 8px
}

.schedule-card {
    background: #f7f7f7;
    margin-bottom: 30px
}

.schedule-card p {
    margin-bottom: 0
}

.schedule-card:hover .card-identity {
    background: -moz-linear-gradient(136deg, #4c73ff 0%, #002ccc 50%, #306fb6 100%);
    background: -webkit-linear-gradient(136deg, #4d6ee2 0%, #032cc0 50%, #306fb6 100%);
    background: -ms-linear-gradient(136deg, #597cfb 0%, #002ccc 50%, #3b7fcc 100%);
}

.schedule-card:last-child {
    margin-bottom: 0
}